<!doctype html>
<html class="scroll-smooth" lang="{{ locale|default('ru') }}">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://identity.netlify.com">
		<link rel="canonical" href="{{ site.rootUrl|default('https://test.ru') }}{{ page.url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ envs.site.name }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<link rel="icon" type="image/svg+xml" href="{{ envs.site.faviconUrl | url }}">
		<link rel="stylesheet" href="/@root/css/style.css"> {{ __slinkity.head | safe }}
	</head>
	<body class="grid grid-rows-[auto,1fr] fixed h-screen">
		{% include "partials/header/header.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "partials/footer/footer.njk" %}
		<script type="module" src="/@root/js/app.js"></script>
	</body>
</html>
